/*DARK*/

.arrow_box {
  position: relative;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 0.5rem;
  color: #fff;
  box-shadow: 0 0 0.5rem #000;
}
